<!DOCTYPE html>
<html>
   <head>
      <title>Map Upload</title>
   </head>
   <body>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <!-- import basic jquery + bootstrap --> 
      <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
      <link href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" rel="stylesheet">
      <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
      <link href="{{ url_for('static', filename='styles/bootstrap-select.min.css') }}" rel="stylesheet">
      <script src="{{ url_for('static', filename='scripts/bootstrap-select.min.js') }}"></script>

      <!-- import leaflet scripts -->  
      <link href="{{ url_for('static', filename='styles/leaflet.css') }}" rel="stylesheet">
      <script src="{{url_for('static',filename='scripts/leaflet.js')}}"></script>

      <!-- import map helper scripts -->
      <script src="{{url_for('static',filename='scripts/prunecluster.js')}}"></script>
      <script src="{{url_for('static',filename='scripts/simpleshape.js')}}"></script>
      <script src="{{url_for('static',filename='scripts/rectangle.js')}}"></script>
      <script src="{{url_for('static',filename='scripts/bootbox.min.js')}}"></script>
      
      <!-- import json parser -->
      <script src="{{url_for('static',filename='scripts/oboe.min.js')}}"></script>
      
      <!-- import time (moment) and sweet alert (swal) -->
      <script src="{{url_for('static',filename='scripts/moment.min.js')}}"></script>
      <script src="{{url_for('static',filename='scripts/swal.js')}}"></script>
      <link href="{{ url_for('static', filename='styles/swal.css') }}" rel="stylesheet">

      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/main.css')}}">

      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4" id="upload">
               <div id="step-1">
                  <div class="row">
                     <div class="col-md-12">
                        <h3>Step 1: Upload</h3>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <p>Please select a valid Google Location Map History file (should be in format of LocationHistory.json) <a href="#upload-instructions-modal" data-toggle="modal" data-target="#upload-instructions-modal"><span onclick="sendEvent(1)" class="glyphicon glyphicon-info-sign upload-instructions" aria-hidden="true"></span></a></p>
                     </div>
                     <div class="col-md-12">
                        <div class="input-group">
                           <label class="input-group-btn"><span class="btn btn-primary">Upload&hellip; <input accept=".json" id="uploadInput" multiple style="display: none;" type="file"></span></label> <input class="form-control" readonly type="text">
                        </div>
                     </div>
                  </div>
                  <br>
                  <div class="row">
                     <div class="col-md-12">
                        <span style="font-size: 16px">Progress:</span>
                        <div class="progress">
                           <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar progress-bar-success" id="done" role="progressbar" style="min-width: 2em">
                              0%
                           </div>
                        </div>
                        <div id="stats"></div>
                        <br>
                     </div>
                  </div>
               </div>
               <div id="step-2"> 
                  <div class="row">
                     <div class="col-md-12">
                        <h3>Step 2: Select Bounding Boxes</h3>
                     </div>
                     <div class="col-md-12">
                        <p>Click "New Box" and drag to select an area to process on the map. 
                          <a href="#bounding-instructions-modal" data-toggle="modal" data-target="#bounding-instructions-modal"><span onclick="sendBEvent(1)" class="glyphicon glyphicon-info-sign upload-instructions" aria-hidden="true"></span></a></p>
                     </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <button class="btn btn-primary" id="newBoxButton">New Box</button> &nbsp;&nbsp;&nbsp; <button class="btn btn-danger" id="cancel">Cancel</button>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <table class="table" id="locationTable">
                        <thead>
                          <tr>
                            <td></td>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                  <br>
               <div id="step-3">
                  <div class="row">
                     <div class="col-md-12">
                        <h3>Step 3: Submit</h3>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-group">
                           <label for="email">Name your file:</label> <input class="form-control" id="filename" type="text">
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="startDay">Start Day of Week:</label>
                           <select class="selectpicker" id="startDay">
                              <option value="" selected>
                                 Select...
                              </option>
                              <option value="1">
                                 Monday 12 AM
                              </option>
                              <option value="2">
                                 Tuesday 12 AM
                              </option>
                              <option value="3">
                                 Wednesday 12 AM
                              </option>
                              <option value="4">
                                 Thursday 12 AM
                              </option>
                              <option value="5">
                                 Friday 12 AM
                              </option>
                              <option value="6">
                                 Saturday 12 AM
                              </option>
                              <option value="7">
                                 Sunday 12 AM
                              </option>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="endDay">End Day of Week:</label>
                           <select class="selectpicker" id="endDay">
                              <option value="" selected>
                                 Select...
                              </option>
                              <option value="1">
                                 Monday 11:59 PM
                              </option>
                              <option value="2">
                                 Tuesday 11:59 PM
                              </option>
                              <option value="3">
                                 Wednesday 11:59 PM
                              </option>
                              <option value="4">
                                 Thursday 11:59 PM
                              </option>
                              <option value="5">
                                 Friday 11:59 PM
                              </option>
                              <option value="6">
                                 Saturday 11:59 PM
                              </option>
                              <option value="7">
                                 Sunday 11:59 PM
                              </option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <button class="btn btn-success" id="submitProcess" style="width: 100%">Submit for processing</button>
                     </div>
                  </div>
               </div>
               <br>
               <br>
               <br>
            </div>
            <div class="col-md-8" id="mapid"></div>
         </div>
      </div>


      <!-- Modal stuff -->
      <form class="modal multi-step" id="upload-instructions-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title step-1" data-step="1">Step 1</h4>
            <h4 class="modal-title step-2" data-step="2">Step 2</h4>
            <h4 class="modal-title step-3" data-step="3">Step 3</h4>
            <h4 class="modal-title step-4" data-step="4">Step 4</h4>
          </div>
          <div class="modal-body step step-1">
            <p>Sign into the Google account linked to your Android device. Go to <a href="https://takeout.google.com/settings/takeout">takeout.google.com/settings/takeout.</a></p>
          </div>
          <div class="modal-body step step-2">
            <p>Click "Select none."
            <br>
            <img class="tutorial-img" src="{{url_for('static', filename='images/takeout-screenshots/select-none.png')}}" /></p>
          </div>
          <div class="modal-body step step-3">
            <p>Select Location History. Make sure it is set to JSON format.
            <br>
            <img class="tutorial-img" src="{{url_for('static', filename='images/takeout-screenshots/select-location.png')}}" />
            <br>
            Click next.</p>
          </div>
          <div class="modal-body step step-4">
            <p>Choose the format as follows.
            <br>
            <img class="tutorial-img" src="{{url_for('static', filename='images/takeout-screenshots/choose-format.png')}}" />
            Create archive.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="sendEvent(2)">Continue</button>
            <button type="button" class="btn btn-primary step step-2" data-step="2" onclick="sendEvent(3)">Continue</button>
            <button type="button" class="btn btn-primary step step-3" data-step="3" onclick="sendEvent(4)">Continue</button>
          </div>
        </div>
      </div>
    </form>
    <form class="modal multi-step" id="bounding-instructions-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title step-1" data-step="1">Step 1</h4>
            <h4 class="modal-title step-2" data-step="2">Step 2</h4>
          </div>
          <div class="modal-body step step-1">
            <p>Click and drag the edges of the bounding box.
            <br>
            <img class="tutorial-img" src="{{url_for('static', filename='images/takeout-screenshots/bounding-box.gif')}}" /></p>
          </div>
          <div class="modal-body step step-2">
            <p>Name the area covered by the box.
            <br>
            <img class="tutorial-img" src="{{url_for('static', filename='images/takeout-screenshots/area-name.png')}}" /></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="sendBEvent(2)">Continue</button>
          </div>
        </div>
      </div>
    </form>
      <!-- map, upload, and csv custom scripts -->
    <script src="{{url_for('static', filename='scripts/multi-step-modal.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/map.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/upload.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/csv.js')}}"></script>
      
    <script>
      sendEvent = function(x) {
          $('#upload-instructions-modal').trigger('next.m.' + x);
      }
      sendBEvent = function(x) {
          $('#bounding-instructions-modal').trigger('next.m.' + x);
      }
    </script>

    </body>
</html>
