@font-face {
  font-family: HKGroteskRegular;
  src: url('../fonts/hk-grotesk/HKGrotesk-Regular.otf')
}

@font-face {
  font-family: HKGroteskBold;
  src: url('../fonts/hk-grotesk/HKGrotesk-Bold.otf')
}

* {
  font-family: 'HKGroteskRegular', 'Arial'
}

body {
  margin: 0px;
  height: 100vh;
  z-index: -1
}

.btn {
  border-radius: 20px;
}

#mapid {
  height: 100vh;
  position: absolute;
  top: 0px;
  width: 100%;
}

.table>thead>tr>th {
  border-bottom: 0px
}

#upload {
  background-color: #FFF;
  height: 50vh;
  z-index: 1000;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll
}

.notif {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  z-index: 1000;
  display: none;
}

#instruction {
  font-size: 20px;
  background-color: rgba(255,255,255, 0.7);
  color: #000;
  border: none;
}

#locationTable {
  margin-bottom: 0px;
}

#locationTable thead tr td:first-child {
  font-size: 16px;
  vertical-align: middle;
}

#locationTable thead tr td:last-child div {
  float: right;
}

#step-1 {
}

#step-2 {
   /*display: none; */
}

#step-3 {
  display: none; 
}

.form-control {
  box-shadow: none;
  border-radius: 20px;
}

.form-control[readonly] {
  background-color: #FFF;
  border-left: 0px;
}

.bootstrap-select {
  width: 100% !important;
}

.progress {
  margin-bottom: 0px;
}

h3 {
  font-family: 'HKGroteskBold', 'Arial';
  font-size: 28px;
}

p {
  font-size: 18px
}

@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.09804);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 40px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
table.selectable tr:hover {
  cursor: pointer !important;

}

.prunecluster {
    font-size: 12px;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.leaflet-marker-icon.prunecluster-anim,
.leaflet-marker-shadow.prunecluster-anim,
.leaflet-markercluster-icon.prunecluster-anim {
    transition: all 0.3s linear;
}

.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-marker-icon,
.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-marker-shadow,
.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-markercluster-icon {
    transition: transform 0.25s cubic-bezier(0,0,0.25,1);
}

.prunecluster div {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50%;
}

.prunecluster div span {
    line-height: 30px;
}

.prunecluster-small {
    background-color: #b5e28c;
    background-color: rgba(181, 226, 140, 0.6);
}

.prunecluster-small div {
    width: 28px;
    height: 28px;
    background-color: #6ecc39;
    background-color: rgba(110, 204, 57, 0.6);
}

.prunecluster-small div span {
    line-height: 28px;
}

.prunecluster-medium {
    background-color: #f1d357;
    background-color: rgba(241, 211, 87, 0.6);
}

.prunecluster-medium div {
    background-color: #f0c20c;
    background-color: rgba(240, 194, 12, 0.6);
}

.prunecluster-large {
    background-color: #fd9c73;
    background-color: rgba(253, 156, 115, 0.6);
}

.prunecluster-large div {
    width: 34px;
    height: 34px;
    background-color: #f18017;
    background-color: rgba(241, 128, 23, 0.6);
}

.prunecluster-large div span {
    line-height: 34px;
}

.tutorial-img {
    width: 100%;
    padding: 10px 5px;
}
